body, h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gutter-1 > * + * {
  margin-left: 10px;
}

.gutter-2 > * + * {
  margin-left: 20px;
}

.gutter-3 > * + * {
  margin-left: 30px;
}

.gutter-4 > * + * {
  margin-left: 40px;
}

.gutter-5 > * + * {
  margin-left: 50px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.js-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.js-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.js-str {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.js-arr {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.js-cnt {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.al-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.al-str {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.al-cnt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.al-bsl {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/*map dans map*/
.jour .p-rouge {
  color: #DA1212;
}

.jour .p-bleu-marine {
  color: #041562;
}

.jour .p-bleu-ciel {
  color: #11468F;
}

.jour .p-gris {
  color: #EEEEEE;
}

.jour .p-noir {
  color: #000;
}

.jour .p-blanc {
  color: #fff;
}

.nuit .p-rouge {
  color: #ff6262;
}

.nuit .p-bleu-marine {
  color: #3d5ef0;
}

.nuit .p-bleu-ciel {
  color: #118f22;
}

.nuit .p-gris {
  color: #1d29d4;
}

.nuit .p-noir {
  color: #000;
}

.nuit .p-blanc {
  color: #fff;
}

.accessible .p-rouge {
  color: #ff6262;
}

.accessible .p-bleu-marine {
  color: #3d5ef0;
}

.accessible .p-bleu-ciel {
  color: #118f22;
}

.accessible .p-gris {
  color: #1dd435;
}

.accessible .p-noir {
  color: #000;
}

.accessible .p-blanc {
  color: #fff;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 1.3em;
}

.mr-3 {
  margin-right: 1.8em;
}

.mr-4 {
  margin-right: 2.2em;
}

.mr-a {
  margin-right: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 1.3em;
}

.ml-3 {
  margin-left: 1.8em;
}

.ml-4 {
  margin-left: 2.2em;
}

.ml-a {
  margin-left: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 1.3em;
}

.mt-3 {
  margin-top: 1.8em;
}

.mt-4 {
  margin-top: 2.2em;
}

.mt-a {
  margin-top: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 1.3em;
}

.mb-3 {
  margin-bottom: 1.8em;
}

.mb-4 {
  margin-bottom: 2.2em;
}

.mb-a {
  margin-bottom: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

/*
block header
module => BEM 
block main
block footer
*/
/*# sourceMappingURL=index.css.map */