
$largeur:200px; // AVANT 
// modifier la valeur variable SANS avoir à modifier la valeur le fichier source
$primary : blue ; 
$adobe-choice : #00aaef;

@import "01-default";

@import "01-couleurs"; 

// créer le dossier jour4
// 02-exo.scss 
// fichier contient un map de couleurs 

$themes : (
    principale : #FF8E00,
    secondaire : #FF1700,
    success : #06FF00,
    info : #FFE400
)
// pour ces 4 couleurs créer une boucle @each qui contient une boucle @for qui va permettre d'avoir 
// la version 10 20 30 % plus sombre
// la version 10 20 30 % plus claire
// pour les couleurs de text

/* .text-principale-light-10{
    color : #FF8E00 + 10% claire
}
.text-principale-dark-10{
    color : #FF8E00 + 10% dark
} */
// pour chaque couleur de la map $themes
