.box{
    position: relative;
    border:1px solid black;
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

span{
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00bdaa;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.5),
            inset 0 -15px 15px rgba(255,255,255,0.5),
            0 15px 15px rgba(0,0,0,0.5),
            inset 0 15px 15px rgba(0,0,0,0.5);
}

@for $i from 1 through 11{
    span:nth-child(#{$i}){
        animation: onde 4s #{ ($i - 1) * 0.5s }  linear infinite;
    } 
}

@keyframes onde {
    50% {
        opacity: 1;
      }
    
      100% {
        transform: scale(9);
        opacity: 0;
      }
}