// map => tableau 
$theme: (
    "jour": (
        "primary": blue ,
        "secondary": yellow
    ),
    "nuit": (
        "primary": #041562,
        "secondary": #FFC900
    )      
);
// map 
// boucle parcourir chaque valeur dans le tableau (map)
@each $mode , $val in  $theme{
    @each $prop , $couleur in $val{
      .btn__#{$mode}--#{$prop}{
          color : $couleur; 
      }
    } 
}

@mixin bordure($epaisseur , $couleur : #fff){
    border: $epaisseur solid $couleur;
}
h1, img{
    @include bordure(2px, #000 )
}

