// boucle impossible en css de base 

// par contre en sass => aucun problème 

// 2 mots clés possibles :
// @for 
// @each

// permet répéter un code css 0 jusqu'à 10 inclu
// .p0 .p1 .... .p10
@for $i from 0 through 10{
    .p#{$i}{
        margin : $i+px
    }
}
// autre commentaire !! 
// utilitaire 
@for $i from 0 through 5{
    .ml-#{$i}{
        margin-left : $i+em;
    }
    .mr-#{$i}{
        margin-right : $i+em;
    }
    .mt-#{$i}{
        margin-top : $i+em;
    }
    .mb-#{$i}{
        margin-bottom : $i+em;
    }
}
// sass 04-boucle.scss:04-boucle.min.css --style=compressed --watch
//--style=compressed --watch drapeau 
// donner des indications pour la traduction 